---
import ButtonChevronDown from "@/components/icons/arrows/ButtonChevronDown.astro";
import ComponentBoundaries from "@/layout/ComponentBoundaries.astro";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
const currentLang = getLangFromUrl(Astro.url);
const t = useTranslations(currentLang);
---

<section class="self-stretch">
  <ComponentBoundaries
    className="p-12 shape-1 shape-theme mx-auto w-[90%] sm:w-full  [max-width:37rem]"
  >
    <div class="grid [grid-template-rows:_auto_1fr_auto]
    h-[88%]">
      <span class="text-ligth-label text-center font-medium text-lg"
        >{t("hero").welcome}</span
      >
      <div
        class="*:font-semibold mt-4 *:block *:text-center *:grad_ligth-gb *:dark:grad_yellowPink *:text-gradient *:dark:text-gradient"
      >
        {
          currentLang === "es" && (
            <>
              <h2 class="text-[min(3.75rem,11dvw)] pb-1 leading-none sm:text-6xl">
                {t("hero").designer}
              </h2>
              <h2 class="text-[min(6rem,18dvw)] leading-none sm:text-8xl">
                {t("hero").uiux}
              </h2>
            </>
          )
        }
        {
          currentLang === "en" && (
            <>
              <h2 class="text-[min(6rem,18dvw)] leading-none sm:text-8xl">
                {t("hero").uiux}
              </h2>
              <h2 class="text-[min(3.75rem,11dvw)] pb-1 leading-none sm:text-6xl">
                {t("hero").designer}
              </h2>
            </>
          )
        }
        {
          currentLang === "fr" && (
            <>
              <h2 class="text-[min(6rem,18dvw)] leading-none sm:text-8xl">
                {t("hero").uiux}
              </h2>
              <h2 class="text-[min(3.75rem,11dvw)] pb-1 leading-none sm:text-6xl">
                {t("hero").designer}
              </h2>
            </>
          )
        }
      </div>
      <div class="text-ligth-label text-center">
        <span>La interactividad es el mejor camino.</span>
        <br />
      </div>
    </div>
  </ComponentBoundaries>
  <a href="/nav">
    <button
      class="absolute rounded-[1.35rem] px-5 bottom-[1.4%] left-1/2 -translate-x-1/2 border border-solid buttonbehavior"
    >
      <div class="flex items-center mr-[0.1rem] sm:mr-[0.8rem] ml-[0.1rem] h-8">
        <ButtonChevronDown className="h-8 w-8 hidden sm:inline" />
        {t("hero").cta}
      </div>
    </button>
  </a>
</section>
