@layer components {
  /* ********************************** ICONS *********************************** */

  .icon-sm {
    @apply w-6;
  }
  .icon-md {
    @apply w-8;
  }

  /* ********************************** SHAPES *********************************** */

  .shape-theme {
    @apply grad_whiteOpa dark:grad_darkpurpleOpa2;
    /* background: #1a1a1a4d */
  }

  .shape-theme-navigation {
    @apply grad_whiteOpa2 dark:grad_darkpurpleOpa3;
  }

  .shape-theme-about {
    @apply grad_whiteOpa2 dark:grad_darkpurpleOpa4;
  }

  .shape-after::after {
    @apply grad_whiteOpa2-wcolor dark:grad_darkpurpleOpa3-wcolor shape-2;
    content: "";
    height: 99%;
    translate: -50% -50%;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 99%;
    z-index: -1;
    filter: blur(85px);
  }
  
  .shape-1 {
    @apply h-full;
    clip-path: polygon(
      99.968% 7.732%,
      99.968% 7.732%,
      99.874% 6.478%,
      99.602% 5.288%,
      99.167% 4.179%,
      98.583% 3.166%,
      97.866% 2.265%,
      97.03% 1.492%,
      96.089% 0.863%,
      95.06% 0.394%,
      93.955% 0.101%,
      92.791% 0%,
      7.209% 0%,
      7.209% 0%,
      6.045% 0.101%,
      4.94% 0.394%,
      3.911% 0.863%,
      2.97% 1.492%,
      2.134% 2.265%,
      1.417% 3.166%,
      0.833% 4.179%,
      0.398% 5.288%,
      0.126% 6.478%,
      0.032% 7.732%,
      0.032% 92.268%,
      0.032% 92.268%,
      0.126% 93.522%,
      0.398% 94.712%,
      0.833% 95.821%,
      1.417% 96.834%,
      2.134% 97.735%,
      2.97% 98.508%,
      3.911% 99.137%,
      4.94% 99.606%,
      6.045% 99.899%,
      7.209% 100%,
      25.873% 100%,
      25.873% 100%,
      26.719% 99.926%,
      27.522% 99.713%,
      28.271% 99.373%,
      28.955% 98.915%,
      29.563% 98.354%,
      30.084% 97.699%,
      30.508% 96.962%,
      30.825% 96.155%,
      31.022% 95.291%,
      31.091% 94.379%,
      31.091% 94.379%,
      31.159% 93.467%,
      31.357% 92.602%,
      31.673% 91.795%,
      32.098% 91.059%,
      32.619% 90.404%,
      33.227% 89.842%,
      33.911% 89.385%,
      34.659% 89.044%,
      35.462% 88.831%,
      36.309% 88.757%,
      63.691% 88.757%,
      63.691% 88.757%,
      64.538% 88.831%,
      65.341% 89.044%,
      66.089% 89.385%,
      66.773% 89.842%,
      67.381% 90.404%,
      67.902% 91.059%,
      68.327% 91.795%,
      68.643% 92.602%,
      68.841% 93.467%,
      68.909% 94.379%,
      68.909% 94.379%,
      68.978% 95.291%,
      69.175% 96.155%,
      69.492% 96.962%,
      69.916% 97.699%,
      70.437% 98.354%,
      71.045% 98.915%,
      71.729% 99.373%,
      72.478% 99.713%,
      73.281% 99.926%,
      74.127% 100%,
      92.791% 100%,
      92.791% 100%,
      93.955% 99.899%,
      95.06% 99.606%,
      96.089% 99.137%,
      97.03% 98.508%,
      97.866% 97.735%,
      98.583% 96.834%,
      99.167% 95.821%,
      99.602% 94.712%,
      99.874% 93.522%,
      99.968% 92.268%,
      99.968% 7.732%
    );

    max-width: 45dvw;
    backdrop-filter: blur(3px) saturate(0.65);
  }

  .shape-2 {
    @apply h-full;
    clip-path: polygon(
      99.916% 8.043%,
      99.916% 8.043%,
      99.783% 6.746%,
      99.4% 5.515%,
      98.786% 4.367%,
      97.963% 3.319%,
      96.952% 2.387%,
      95.773% 1.587%,
      94.447% 0.936%,
      92.996% 0.451%,
      91.439% 0.148%,
      89.798% 0.043%,
      10.27% 0.043%,
      10.27% 0.043%,
      8.629% 0.148%,
      7.072% 0.451%,
      5.62% 0.936%,
      4.295% 1.587%,
      3.116% 2.387%,
      2.104% 3.319%,
      1.282% 4.367%,
      0.668% 5.515%,
      0.285% 6.746%,
      0.152% 8.043%,
      0.152% 64.844%,
      0.152% 64.844%,
      0.285% 66.142%,
      0.668% 67.373%,
      1.282% 68.521%,
      2.104% 69.569%,
      3.116% 70.501%,
      4.295% 71.301%,
      5.62% 71.951%,
      7.072% 72.436%,
      8.629% 72.74%,
      10.27% 72.844%,
      17.022% 72.844%,
      17.022% 72.844%,
      18.663% 72.949%,
      20.22% 73.252%,
      21.671% 73.737%,
      22.997% 74.388%,
      24.176% 75.187%,
      25.187% 76.12%,
      26.01% 77.168%,
      26.624% 78.316%,
      27.007% 79.547%,
      27.14% 80.844%,
      27.14% 92%,
      27.14% 92%,
      27.272% 93.298%,
      27.655% 94.529%,
      28.269% 95.676%,
      29.092% 96.725%,
      30.103% 97.657%,
      31.282% 98.456%,
      32.608% 99.107%,
      34.06% 99.592%,
      35.616% 99.895%,
      37.258% 100%,
      89.798% 100%,
      89.798% 100%,
      91.439% 99.895%,
      92.996% 99.592%,
      94.447% 99.107%,
      95.773% 98.456%,
      96.952% 97.657%,
      97.963% 96.725%,
      98.786% 95.676%,
      99.4% 94.529%,
      99.783% 93.298%,
      99.916% 92%,
      99.916% 8.043%
    );

    max-width: 45dvw;
    backdrop-filter: blur(3px) saturate(0.75);
  }

  .shape-3 {
    clip-path: polygon(
      0% 8.043%,
      0% 8.043%,
      0.065% 6.746%,
      0.252% 5.515%,
      0.553% 4.367%,
      0.955% 3.319%,
      1.45% 2.387%,
      2.027% 1.587%,
      2.675% 0.936%,
      3.386% 0.451%,
      4.147% 0.148%,
      4.95% 0.043%,
      95.031% 0.043%,
      95.031% 0.043%,
      95.833% 0.148%,
      96.595% 0.451%,
      97.305% 0.936%,
      97.954% 1.587%,
      98.531% 2.387%,
      99.026% 3.319%,
      99.428% 4.367%,
      99.729% 5.515%,
      99.916% 6.746%,
      99.981% 8.043%,
      99.981% 64.844%,
      99.981% 64.844%,
      99.916% 66.142%,
      99.729% 67.373%,
      99.428% 68.521%,
      99.026% 69.569%,
      98.531% 70.501%,
      97.954% 71.301%,
      97.305% 71.951%,
      96.595% 72.436%,
      95.833% 72.74%,
      95.031% 72.844%,
      66.172% 72.844%,
      66.172% 72.844%,
      65.369% 72.949%,
      64.607% 73.252%,
      63.897% 73.737%,
      63.248% 74.388%,
      62.671% 75.187%,
      62.176% 76.12%,
      61.774% 77.168%,
      61.473% 78.316%,
      61.286% 79.547%,
      61.221% 80.844%,
      61.221% 92%,
      61.221% 92%,
      61.156% 93.298%,
      60.969% 94.529%,
      60.668% 95.676%,
      60.266% 96.725%,
      59.771% 97.657%,
      59.194% 98.456%,
      58.546% 99.107%,
      57.835% 99.592%,
      57.074% 99.895%,
      56.271% 100%,
      4.95% 100%,
      4.95% 100%,
      4.147% 99.895%,
      3.386% 99.592%,
      2.675% 99.107%,
      2.027% 98.456%,
      1.45% 97.657%,
      0.955% 96.725%,
      0.553% 95.676%,
      0.252% 94.529%,
      0.065% 93.298%,
      0% 92%,
      0% 8.043%
    );
  }

  /* ********************************************************************* */

  /* .btn-blue {
      @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded;
    } */

  .mask-radial-left {
    /* mask: radial-gradient(circle at -20% 35%, #000 0%, transparent 65%); */
    mask: linear-gradient(260deg, transparent 5%, 65%, #000);
  }

  .mask-radial-right {
    /* mask: radial-gradient(circle at 120% 35%, #000 0, transparent 65%); */
    mask: linear-gradient(100deg, transparent 5%, 75%, #000);

    right: 0;
  }

  .mask-sm-bottom {
    mask: linear-gradient(20deg, transparent 20%, #fff 70%);
  }

  .mask-md-bottom {
    mask: linear-gradient(-10deg, transparent 10%, #fff 80%);
  }

  .gradient-dark {
    /* @apply from-dm_blue-50 to-dm_blue-800; */
    @apply from-matisse-25 to-sky-700;
  }

  .gradient-light {
    @apply from-matisse-400 to-matisse-800;
  }

  .gradient-blue {
    @apply bg-gradient-to-tr from-matisse-900/80 via-matisse-800/80 to-matisse-600/50;
  }

  .gradient-green-dark {
    @apply bg-gradient-to-tr from-[#27456270] via-[#3664] to-[#4780];
  }

  .gradient-blue-dark {
    @apply bg-gradient-to-tr from-[#27456260] via-[#3696] to-[#36d2];
  }
  .gradient-blue-light {
    @apply bg-gradient-to-b from-matisse-100 to-matisse-25;
  }

  .gradient-card-dark {
    @apply bg-gradient-to-b from-zinc-900 to-[#161f27];
  }

  .menu-mobile-overlay {
    @apply overflow-hidden after:w-full after:fixed after:inset-0 after:bg-[hsl(208.24deg_12.59%_73.53%/50%)] after:dark:bg-[rgba(0,4,11,0.7)] after:backdrop-grayscale-[0.5] after:backdrop-blur-md  after:opacity-0 after:duration-300 after:-z-10;
    will-change: opacity;
  }

  .overlay-index {
    @apply after:!z-10;
  }
  .overlay-opacity {
    @apply after:!opacity-100;
  }

  .stack-image {
    @apply opacity-0 absolute inset-0 h-full object-cover duration-300;
  }

  .shadow-inset-matisse {
    @apply bg-[linear-gradient(45deg,#335779,#3d5e7e)];
    box-shadow: inset 0 20px 20px -11px #8299b1;
  }

  .custom-underline-after-static {
    @apply relative after:absolute after:inset-0 after:border-current after:duration-500 after:border-b-2 sm:after:border-b-4 after:-mb-2 after:opacity-100;
  }

  /*  LINK UNDERLINE TEXT AFTER  */
  .custom-underline-after-setup {
    @apply relative after:absolute after:inset-0 after:border-current after:duration-100 after:border-b after:pb-1 after:opacity-0 after:bottom-[-1px];
  }

  /*  LINK UNDERLINE TEXT AFTER  */
  .custom-underline-after-hover {
    @apply hover:after:opacity-100 hover:active:after:border-matisse;
  }

  /*  LINK UNDERLINE TEXT AFTER  */
  .custom-underline-after-active {
    @apply active:after:opacity-100 active:after:border-matisse;
  }

  /* BUTTONS SHADOW OPACITY AFTER */
  .custom-shadow-after {
    @apply relative after:inset-0 after:absolute after:duration-300 after:opacity-0 hover:after:opacity-100 after:rounded-xl;
    color: hsla(210, 46%, 32%, 0.9);
  }

  .custom-shadow-after::after {
    box-shadow:
      0 0 1px 0.5px currentColor,
      0 1px 3px -2px currentColor,
      0 2px 5px -3px currentColor;
  }
  /* .custom-shadow-after::after:hover {
      box-shadow:
        0 0 1px 0.5px currentColor,
        0 1px 3px -2px currentColor,
        0 2px 5px -3px currentColor;
    } */

  /* PRIMARY GRADIENT */

  .custom-primary-gr {
    background: linear-gradient(127deg, #6a9cc6 -6.79%, #366694 94.99%);
    box-shadow:
      0px 1px 1px 0px rgba(38, 60, 84, 0.1),
      -1px 2px 2px 0px rgba(38, 60, 84, 0.09),
      -2px 5px 3px 0px rgba(38, 60, 84, 0.05),
      -3px 9px 4px 0px rgba(38, 60, 84, 0.01),
      -5px 14px 4px 0px rgba(38, 60, 84, 0);
  }
  .custom-primary-hover-gr {
    background: linear-gradient(118deg, #4880af -3.96%, #2c5278 97.89%);
    box-shadow:
      0px 1px 2px 0px rgba(25, 39, 56, 0.1),
      -1px 3px 3px 0px rgba(25, 39, 56, 0.09),
      -2px 6px 4px 0px rgba(25, 39, 56, 0.05),
      -4px 11px 5px 0px rgba(25, 39, 56, 0.01),
      -6px 17px 5px 0px rgba(25, 39, 56, 0);
  }
  .custom-primary-active-gr {
    background: linear-gradient(122deg, #2c5278 -5.23%, #263c54 93.59%);
    box-shadow:
      0px 0px 1px 0px rgba(25, 39, 56, 0.25),
      0px 1px 1px 0px rgba(25, 39, 56, 0.21),
      -1px 3px 2px 0px rgba(25, 39, 56, 0.13),
      -2px 5px 2px 0px rgba(25, 39, 56, 0.04),
      -3px 8px 3px 0px rgba(25, 39, 56, 0);
  }

  /* PRIMARY SECONDARY */
  .custom-secondary-gr {
    background: linear-gradient(126deg, #e8eef6 -11.21%, #9ebedb 97.45%);
    box-shadow:
      0px 0px 1px 0px rgba(40, 70, 100, 0.1),
      0px 1px 1px 0px rgba(40, 70, 100, 0.09),
      -1px 2px 2px 0px rgba(40, 70, 100, 0.05),
      -2px 4px 2px 0px rgba(40, 70, 100, 0.01),
      -2px 7px 2px 0px rgba(40, 70, 100, 0);
  }

  /* HEADER BORDER */
  .custom-header-border {
    background: radial-gradient(
      106.11% 1.74% at 51.59% 100.8%,
      rgb(3 18 39) 0%,
      rgb(13 48 91) 24.92%,
      rgb(50 78 133) 42.71%,
      rgb(248 250 252 / 80%) 88.54%
    );
  }

  /* HERO RADIAL GRADIENT BG */
  .custom-hero-radial-bg {
    background: radial-gradient(
      238.11% 58.54% at 51.59% -9.61%,
      hsl(221deg 98% 84% / 50%) 0,
      rgba(50, 83, 133, 0.2) 5.92%,
      rgb(25 91 210/3%) 42.71%,
      rgb(3 19 39 / 0%) 88.54%
    );
  }

  /* HERO RADIAL GRADIENT BG */
  .custom-hero-radial-bg-dark {
    background: radial-gradient(
      238.11% 58.54% at 51.59% -9.61%,
      hsl(221deg 98% 84% / 70%) 0,
      rgba(50, 83, 133, 0.4) 22.92%,
      rgb(25 91 210/5%) 42.71%,
      rgb(3 19 39 / 0%) 88.54%
    );
  }

  /* HOME HERO TITLE STROKE */
  .title-stroke {
    --stroke-size: 1.3px;
    text-shadow:
      var(--stroke-size) var(--stroke-size) 0 currentColor,
      calc(-1 * var(--stroke-size)) calc(-1 * var(--stroke-size)) 0 currentColor,
      var(--stroke-size) calc(-1 * var(--stroke-size)) 0 currentColor,
      calc(-1 * var(--stroke-size)) var(--stroke-size) 0 currentColor,
      var(--stroke-size) var(--stroke-size) 0 currentColor,
      0 8px 5px #3768961a,
      0 8px 15px #37689624,
      0 0 30px #0f2f4d21;
    /* -webkit-text-stroke-color: currentColor; */
    /* -webkit-text-stroke-width: thick; */
  }

  /* HERO BLOBS */

  .custom-blob-color {
    @apply bg-[linear-gradient(45deg,rgb(203_151_29/53%),rgb(90_152_203/53%))];
  }

  /* BORDER COMPONENTS LAYOUT */
  .custom-border-color {
    @apply dark:border-slate-300/20 border-slate-300 hover:border-slate-400/70 dark:hover:border-slate-200/30;
  }

  /* FOOTER BOLD SMALL TITLES */
  .custom-small-black-blue {
    @apply text-gray-900 dark:text-matisse-400;
  }

  /* FOOTER BOLD MID TITLES */
  .custom-normal-black-blue {
    @apply text-gray-700 dark:text-matisse-500;
  }

  /* HOME CONTACT BOLD MID TITLES */
  .custom-normal-black-white {
    @apply text-gray-700 dark:text-white;
  }

  /*  SMALL GRAY TEXT */
  .custom-small-gray {
    @apply text-gray-600 hover:text-black dark:text-gray-400 hover:dark:text-matisse-25;
  }

  /*  MID GRAY TEXT */
  .custom-normal-gray {
    @apply text-gray-500  hover:text-black dark:text-zinc-400 hover:dark:text-matisse-25;
  }

  /*  ICON GRAY */
  .custom-icon-gray {
    @apply text-gray-400 hover:text-gray-700 dark:text-gray-400/70 dark:hover:text-gray-300;
  }

  /* PRODUCTS IMAGE TITLE CENTER ABSOLUTE */
  .custom-abs-center {
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    @apply absolute;
  }

  /* BLOB HERO COLORS */

  .blob_light {
    background-image: linear-gradient(
      rgb(234 238 141 / 36%),
      hsl(37.77deg 91.8% 47.84% / 26%)
    );
  }
  .blob_dark {
    background-image: linear-gradient(rgb(64 55 235 / 42%), #022a63);
  }

  /* BLOB PSEUDOELEMENT SETUP */
  .blur_blob_setup {
    @apply absolute top-[210%] lg:top-[20%] left-[55%] -translate-x-1/2 lg:left-[120%] w-2/3 lg:w-[45%] aspect-[16/9] h-auto blur-3xl sm:blur-[120px] lg:blur-3xl -z-10 rounded-full;
  }

  /* SHADOW MENU MOBILE */
  .custom-shadow-menu {
    box-shadow:
      10px 4px 20px -30px hsl(210deg 9.1% 48.16%),
      -10px 4px 20px -30px hsl(210deg 9.1% 48.16%),
      12px 14px 30px -30px hsl(210deg 9.1% 48.16%),
      -12px 14px 30px -30px hsl(210deg 9.1% 48.16%);
  }

  .custom-border-radius-bottom {
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
  }

  /* LANDING PRODUCTS LOGO GRID */

  .logo {
    @apply text-gray-500 hover:!text-gray-900;
  }

  .logoFillWhite {
    @apply text-matisse_gray-100 fill-current;
  }

  /* SECTIONS SHADOWS */
  .custom-section-shadow {
    @apply shadow-[0_4px_10px] shadow-[hsl(0deg_0%_0%/5.88%)];
  }

  /* HOVER UP AND ACTIVE DOWN SCALE EFFECT ELEMENTS */
  .custom-hover-active-scale {
    @apply transition-transform duration-100;
  }
  .custom-hover-active-scale:hover {
    scale: 1.03;
  }
  .custom-hover-active-scale:active {
    scale: 1;
  }

  /* ACTIVE DOWN SCALE EFFECT ELEMENTS */
  .custom-active-scale {
    @apply transition-transform duration-75;
  }
  .custom-active-scale:active {
    scale: 0.97;
  }

  /* ACTIVE STROKE EFFECT ELEMENTS */
  .custom-active-stroke:active {
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
  }
}

body * {
  /* outline: 1px solid #0503; */
}
