@use './layout_mixins.scss';

:root {
  --padding-inline-boundaries: 2rem;
}

[data-color-mode='light'] {
  --bg-gradient: linear-gradient(
    0deg,
    hsl(40deg 19% 90% / 100%) 0%,
    transparent 93%
  );
  --bg-color: #f2f2f2;
  --bg-color-80: rgba(242, 242, 242, 0.8);
  --text-color-100: #272525;
  --text-color-90: rgba(60, 60, 67, 0.9);
  --text-color-80: rgba(60, 60, 67, 0.8);
  --text-light-color: #f2f2f2;
  --text-dark-color: #272525;
  --bg-card-white: rgba(249, 249, 249, 0.94);
  --gradient-info-section: linear-gradient(
      180deg,
      hsl(40deg 19% 90% / 70%) 0%,
      transparent 100%
    ),
    linear-gradient(0deg, hsl(40deg 19% 90% / 100%) 0%, transparent 13%);
  --bg-color-2: hsl(40deg 19% 90% / 100%);
}

[data-color-mode='dark'] {
  --bg-gradient: #333;
  --bg-color: #333;
  --bg-color-80: rgba(51, 51, 51, 0.8);
  --text-color-100: #ccc;
  --text-color-90: rgba(204, 204, 204, 0.9);
  --text-color-80: rgba(204, 204, 204, 0.8);
  --text-light-color: #f2f2f2;
  --text-dark-color: #272525;
  --bg-card-white: #272525f0;
  --gradient-info-section: linear-gradient(
      180deg,
      hsl(0deg 0% 20% / 70%) 0%,
      transparent 100%
    ),
    linear-gradient(0deg, hsl(0deg 0% 20%) 0%, transparent 13%);
  --bg-color-2: hsl(0deg 0% 20%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // outline: 1px solid rgba(0, 0, 0, 0.35);
}

html,
body {
  font-family: 'Oswald';
  background: var(--bg-gradient);
  width: 100%;
  height: auto;
  color: var(--text-color-100);
  font-size: 18px;
  scroll-behavior: smooth;
  transition: background 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    color 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

main {
  max-width: 1200px;
  margin: 0 auto;
  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); */
  // overflow-x: hidden;
  //   border: 1px solid var(--text-color-100);
  /* margin-block: 2rem; */
  /* border-radius: 20px; */
}

hr {
  border: 0;
}

h1 {
  font-size: 4.2356rem;
  line-height: 6.8556rem;
}

h2 {
  font-size: 3.4267rem;
  line-height: 5.5444rem;
}
h3 {
  font-size: 2.6178rem;
  line-height: 4.2333rem;
}
h4 {
  font-size: 2.1178rem;
  line-height: 3.4278rem;
}
h5 {
  font-size: 1.6178rem;
  line-height: 2.6167rem;
}
h6 {
  font-size: 1.3089rem;
  line-height: 2.1167rem;
}
p,
li,
legend,
label {
  font-size: 1rem;
  line-height: 1.6167rem;
  font-family: 'SF Pro Text';
}
span {
  font-size: 0.8089rem;
  line-height: 1.3111rem;
  font-family: 'SF Pro Text';
}

small {
  font-size: 0.6178rem;
  line-height: 1rem;
  font-family: 'SF Pro Text';
}

button {
  border: 0;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: -0.24px;
  background: transparent;
}

a,
li {
  text-decoration: none;
  list-style-type: none;
  color: currentColor;
}

picture {
  display: grid;
  overflow: hidden;
}

hr {
  background: var(--text-color-100);
  border-radius: 0.1rem;
  height: 0.5rem;
  width: 15%;
}

[aria-hidden='true'] {
  width: 0;
  height: 0;
  background: transparent;
  color: transparent;
  display: block;
}
