@use "./layout_mixins.scss";

:root {
  --padding-inline-boundaries: 2rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 4.2356rem;
}

h2 {
  font-size: 3.4267rem;
}
h3 {
  font-size: 2.6178rem;
}
h4 {
  font-size: 2.1178rem;
}
h5 {
  font-size: 1.6178rem;
}
h6 {
  font-size: 1.3089rem;
}
p,
li,
legend,
label {
  font-size: 1rem;
}

small {
  font-size: 0.6178rem;
}

button {
  border: 0;
  padding: 0;
  text-decoration: none;
  cursor: pointer;
  letter-spacing: -0.24px;
  background: transparent;
}

a,
li {
  text-decoration: none;
  list-style-type: none;
  color: currentColor;
}

picture {
  display: grid;
  overflow: hidden;
}

[aria-hidden="true"] {
  width: 0;
  height: 0;
  background: transparent;
  color: transparent;
  display: block;
}
