---
import Base from "@/layout/Base.astro";
import Body from "@/layout/Body.astro";
import Head from "@/layout/Head.astro";
import BlobHero from "@/components/shapes/blobs/BlobHero.astro";
import BlobElement1 from "@/components/shapes/blobs/BlobElement_1.astro";
import Hero from "@/screens/Hero.astro";
---

<Base>
  <Head title="Emilio Tapia">
    <style is:global>
      #app {
        display: grid;
        grid-template-areas:
          "header"
          "main"
          "footer";
        grid-template-rows: auto 1fr auto;
        /* scroll-snap-type: y mandatory; */
        /* scroll-margin-top: 5rem; */
      }
    </style>
  </Head>
  <Body>
    <main class="[grid-area:main] relative grid overflow-hidden">
      <BlobHero />
      <BlobElement1 />
      <Hero />
    </main>
    <!-- <Hero /> -->
    <!-- <div class="hidden md:block"><LinksNavigation /></div> -->
    <!-- <AboutMe /> -->
    <!-- <StudySection /> -->
    <!-- <ExperienceSection /> -->
    <!-- <SkillSection /> -->
    <!-- <ProgrammingSection /> -->
    <!-- <ProjectsSection /> -->
    <!-- <InfoSection /> -->
  </Body>
</Base>
