<div
  id="menu_overlay"
  class="fixed lg:hidden w-full h-full inset-0 overflow-hidden bg-[rgba(0,4,11,0.7)] backdrop-grayscale-[0.5] opacity-0 duration-300 z-10 invisible
[will-change:opacity]"
>
</div>
