---
import LangDropdown from "@/components/dropdown/LangDropdown.astro";
import DarkModeSwitch from "@/components/header/DarkModeSwitch.astro";
---

<div class="py-3">
  <div class="flex items-center gap-2" role="group">
    <LangDropdown />

    <DarkModeSwitch />
  </div>
</div>
