---
interface Props{
    title: string,
    content?: string //opcional
}

const { title = "Titulo por defecto", content = "Contenido por defecto" } = Astro.props;

---

<div class="card">
    <h1>{title}</h1>
    <p>{content}</p>
</div>

<style>

    *{
        margin: 0;
    }

.card{
    max-width: 400px;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    padding-inline: 2rem;
    padding-block: 2rem;
    margin-bottom: 1rem;
    color: white;
    background: linear-gradient(20deg, #3e70ef, #5867eb);
}

</style>