---
import { Icon } from "astro-icon";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import BodyBoundaries from "@/layout/BodyBoundaries.astro";
import ComponentBoundaries from "@/layout/ComponentBoundaries.astro";
import { clsxm } from "@/utils/styles/tw";
import Github from "./icons/social/Github.astro";
import LinkedIn from "./icons/social/LinkedIn.astro";
const currentLang = getLangFromUrl(Astro.url);
const t = useTranslations(currentLang);
---

<footer class="[grid-area:footer]">
  <BodyBoundaries width="2xl" padX={1} className="my-3 rounded-md">
    <div class="relative grid">
      <div
        class={clsxm([
          "flex",
          "supports-[display:grid]:grid",
          "flex-nowrap flex-row items-center",
        ])}
        id="menu_grid"
      >
        <ComponentBoundaries
          className="max-lg:[grid-area:logo] flex flex-row ml-0 justify-between items-center"
        >
          <a href="mailto:" class="text-md text-ligth-p font-normal">
            contacto: me@emiliotapia.com
          </a>
          <div class="flex flex-row gap-4">
            <Github classlist="icon-md" />
            <LinkedIn classlist="icon-md" />
          </div>
          <!-- <span class="text-xs text-black dark:text-white"
            >UI/UX Designer | Front-end</span
          > -->
        </ComponentBoundaries>
      </div>
    </div>
  </BodyBoundaries>
</footer>

<!-- <script>
  import gsap from "gsap";

  gsap.to("#hand svg", {
    rotate: 25,
    duration: 1.618,
    repeat: -1,
    yoyoEase: true,
  });
</script> -->
