---
import { Icon } from 'astro-icon';

---

<footer>
    <div class="footer--title" >
        <h2>Thanks <i id="hand"><Icon name="footer-hand"/></i></h2>
        <h3>for your visit</h3>
    </div>
    <nav class="footer--nav">
        <ul>
            <li>
                <p>Contact</p>
                <ul>
                    <li><a href="mailto:emiliota95@gmail.com"><span>Email Me</span></a></li>
                    <li><a href="/resources/cv-emilio-tapia-es.pdf"><span>Download CV</span></a></li>
                </ul>
            </li>
            <li>
                <p>Projects</p>
                <ul>
                    <li>
                        <a href="https://www.comtelec.com/" target="_blank" rel="noopener noreferrer">
                            <span>Comtelec</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/houseofmodularsynthesizer/" target="_blank" rel="noopener noreferrer">
                            <span>HoMS</span>
                        </a>
                    </li>
                    
                </ul>
            </li>
            <li>
                <p>Social Media</p>
                <ul>
                    <li>
                        <a href="https://github.com/emilio-tapia" target="_blank" rel="noopener noreferrer">
                            <span>Github</span>
                        </a>
                    </li>

                    <li>
                        <a href="https://www.linkedin.com/in/emilio-tapia-a24150172/" target="_blank" rel="noopener noreferrer">
                            <span>LinkedIn</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/emilio.________/" target="_blank" rel="noopener noreferrer">
                            <span>Instagram</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

</footer>

<style lang="scss">

    footer{
        padding-inline: var(--padding-inline-boundaries);
        background: var(--bg-color-2);
        padding-block: 2rem;
        display: grid;
        gap: 2rem;

    }

    [astro-icon=footer-hand] {
            fill: none;
            width: 54px;
            display: inline-block;
            stroke: var(--text-color-100);
            filter: drop-shadow(2px 1px 3px rgba(0, 0, 0, 0.2))
        }

    h2,h3,p{
        text-transform: uppercase;
    }

    :where(.footer--nav a){
        opacity: .5;
        transition: 0.418s;

        &:hover{
            opacity: 1;
        }
    }

    .footer--title{
        h3{
            line-height: .75;
        }
    }

    .footer--nav{

        & > ul{
            display: grid;
            gap: 1.5rem;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        }

        & > ul > li{
            display: grid;
            gap: 1rem;
            place-content: start;
        }
    }

    h3{
        font-weight: normal;
        font-style: italic;
    }
</style>

<script>
import gsap from "gsap";

    gsap.to('#hand svg', {
        rotate: 25,
        duration: 0.318,
        repeat: -1,
        yoyoEase: true,
    })
</script>

