---
import { Icon } from "astro-icon";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import BodyBoundaries from "@/layout/BodyBoundaries.astro";
import ComponentBoundaries from "@/layout/ComponentBoundaries.astro";
import { clsxm } from "@/utils/styles/tw";
import Github from "./icons/social/Github.astro";
import LinkedIn from "./icons/social/LinkedIn.astro";
const currentLang = getLangFromUrl(Astro.url);
const t = useTranslations(currentLang);
---

<footer class="[grid-area:footer]">
  <BodyBoundaries width="2xl" padX={1} className="my-3 rounded-md">
    <div class="relative grid">
      <div
        class={clsxm(["flex", "flex-nowrap flex-row items-center"])}
        id="menu_grid"
      >
        <ComponentBoundaries
          className="max-lg:[grid-area:logo] flex flex-row ml-0 justify-between items-center w-full"
        >
          <div class="flex flex-row gap-4 *:linkbehavior">
            <!-- <a
              href="mailto:me@emilio-tapia.com"
              class="text-lg font-normal linkbehavior"
            >
              Resources</a
            > -->
            <a
              href="/resources/cv-emilio-tapia-en.pdf"
              class="!text-xs font-normal linkbehavior"
            >
              @2024</a
            >
          </div>
          <div class="flex flex-row gap-4 *:linkbehavior">
            <a href="https://github.com/emilio-tapia"
              ><Github className="icon-md" /></a
            >
            <a href="https://www.linkedin.com/in/emilio-tapia-a24150172/"
              ><LinkedIn className="icon-md" /></a
            >
          </div>
          <!-- <span class="text-xs text-black dark:text-white"
            >UI/UX Designer | Front-end</span
          > -->
        </ComponentBoundaries>
      </div>
    </div>
  </BodyBoundaries>
</footer>

<!-- <script>
  import gsap from "gsap";

  gsap.to("#hand svg", {
    rotate: 25,
    duration: 1.618,
    repeat: -1,
    yoyoEase: true,
  });
</script> -->
