---
import ComponentBoundaries from "@/layout/ComponentBoundaries.astro";
import NavHeader from "@/components/header/NavHeader.astro";
import { clsxm } from "@/utils/styles/tw";
import BodyBoundaries from "@/layout/BodyBoundaries.astro";
---

<header
  id="main_header"
  class="[grid-area:header] z-10"
  aria-label="Main Header"
  transition:name="header"
>
  <BodyBoundaries width="2xl" padX={1} className="my-3 rounded-md">
    <div class="relative grid">
      <div
        class={clsxm([
          "flex",
          "supports-[display:grid]:grid",
          "flex-nowrap flex-row items-center",
        ])}
        id="menu_grid"
      >
        <ComponentBoundaries
          className="max-lg:[grid-area:logo] flex flex-col ml-0 w-fit"
        >
          <a href="/" class="w-fit">
            <h1
              class="text-3xl grad_dark-gb text-gradient dark:text-gradient dark:grad_whiteDarkT font-normal"
            >
              <span class="text-size-inh font-extrabold">Emilio</span>Tapia
            </h1></a
          >
          <!-- <span class="text-xs text-black dark:text-white"
            >UI/UX Designer | Front-end</span
          > -->
        </ComponentBoundaries>
        <NavHeader />
      </div>
    </div>
  </BodyBoundaries>
</header>

<style>
  header {
    /* position: fixed; */
    /* top: 0; */
    /* left: 0; */
    /* width: 100%; */
    /* height: auto; */
    /* z-index: 50; */
  }

  #menu_grid {
    grid-template-areas: "logo menu-btn";
    grid-template-columns: 2fr auto;
  }
</style>
