---
import ComponentBoundaries from "@/layout/ComponentBoundaries.astro";
import NavHeader from "@/components/header/NavHeader.astro";
import { clsxm } from "@/utils/styles/tw";
import BodyBoundaries from "@/layout/BodyBoundaries.astro";
---

<header
  id="main_header"
  class:list={clsxm([])}
  class="text-gray-600 dark:text-gray-400 body-font [grid-area:header] transition-all max-h-[4.5rem]"
  aria-label="Main Header"
  transition:name="header"
>
  <BodyBoundaries
    className="border-b bg-pal_blackfromyellow bg-white dark:bg-zinc-950"
  >
    <div class="relative grid">
      <div
        class:list={clsxm(["flex", "supports-[display:grid]:grid"])}
        class="flex-nowrap flex-row items-center"
        id="menu_grid"
      >
        <ComponentBoundaries
          className="max-lg:[grid-area:logo] flex flex-col ml-0"
        >
          <h1 class="text-2xl text-black dark:text-pal_yellow">Emilio Tapia</h1>
          <span class="text-xs text-black dark:text-white"
            >UI/UX Designer | Front-end</span
          >
        </ComponentBoundaries>
        <NavHeader />
      </div>
    </div>
  </BodyBoundaries>
</header>

<style>
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 50;
  }

  #menu_grid {
    grid-template-areas: "logo menu-btn";
    grid-template-columns: 2fr 1fr;
  }
</style>
