---
import { t } from "i18next";

const {state} = Astro.props;


---

<div class="menu" data-state={state} aria-expanded="false">
    <div class="arrow"></div>
    <div class="dropdown">
        <a href="#summary"><p>{t("menu.about")}<p class="fa fa-inbox"></p></p></a>
        <a href="#studies"><p>{t("menu.study")} <p class="fa fa-inbox"></p></p></a>
        <a href="#experience"><p>{t("menu.experience")} <p class="fa fa-inbox"></p></p></a>
        <a href="#skills"><p>{t("menu.skill")} <p class="fa fa-inbox"></p></p></a>
        <a href="#projects"><p>{t("menu.project")} <p class="fa fa-inbox"></p></p></a>
        <a href="#miniprojects"><p>{t("menu.miniproject")} <p class="fa fa-inbox"></p></p></a>
        <!-- <a href="#blog"><p>Blog <p class="fa fa-inbox"></p></p></a> -->
        <a href="#media"><p>{t("menu.media")} <p class="fa fa-inbox"></p></p></a>
    </div>
  </div>
<div class="filter"></div>


  <style lang="scss">

    .filter{
        background: rgba(220,215,225,0.3);
    position: fixed;
    width: 100dvw;
    width: 100vw;
    height: 500%;
    z-index: -1;
    backdrop-filter: invert(0.2) blur(5px) opacity(1) grayscale(.5);
    opacity: 0;
    transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

.menu {
    width: fit-content;
    // margin: 60px auto 0;
    cursor: pointer;
    position: absolute;
    top: 3rem;
    right: var(--padding-inline-boundaries);
    z-index: 10;
    display: none;
}

.dropdown {
    width: 100%;
    background: var(--text-color-100);
    border-radius: 20px 0 20px 20px;
    box-shadow: 0 0 40px -10px #000;
    color: var(--bg-color);
    margin-top: 24px;
    visibility: hidden;
    // max-height: 0;
    // opacity: 0;
    transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    overflow: hidden;

    a{
        padding: 0.75rem 2rem 0.75rem 1rem;
        display: block;
        transition: inherit;
        border-bottom: 1px solid transparent;
        text-transform: uppercase;
        
        &:not(:last-child){
            border-bottom: 1px solid var(--bg-color-80);
        }
    }

    a:hover {
        // border-radius: 10px;
        background: coral;
        border-bottom: 1px solid transparent;
        -webkit-transform: scale(1.05);
        color: rgba(255, 255, 255, 0.8);
        box-shadow: 0 0 30px -10px #000
    }
}

// [data-state="open"]{
//     display: block;
// }

[aria-expanded="true"] {
    // pointer-events: none;
    display: block;
}


[aria-expanded="true"] .dropdown {
    max-height: fit-content;
    visibility: visible;
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes animation{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

[aria-expanded="true"] ~ .filter{
    z-index: 5;
    opacity: 1;
}

.arrow {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
    position: absolute;
    right: 20px;
    bottom: -24px;
    display: none
}

.arrow.gone {
    display: block
}



  </style>