<div class="video-wrapper">
    <div class="dummy-padding"></div>
    <slot/>
  </div>

  <style lang="scss">

.video-wrapper {
  width: 100%; //element width
  position: relative;
  border-radius: 10px;
    overflow: hidden;

  .dummy-padding {
    padding-top: 56.25%;
  }
}

  </style>