---
// import { Trans } from "astro-i18next/components";
import { getLangFromUrl, useTranslations } from "@/i18n/utils";
import ComponentBoundaries from "../ComponentBoundaries.astro";
import TitleSectionGrid from "@/components/text/TitleSectionGrid.astro";
const currentLang = getLangFromUrl(Astro.url);
const t = useTranslations(currentLang);

const summaryItems = [
  "I am a frontend developer, graphic designer, music producer.",
  "My passion transcends in looking for new possibilities to get better user experience.",
  "I focus in human interactions with different media",
  "I started my journey into the interactivity field in 2021.",
  "Love the ways technology and interactivity can combine to create better experiences",
];
---

<section
  class="summary grid items-start lg:grid-cols-[1fr_2fr] max-lg:divide-y lg:divide-x divide-black"
  id="summary"
>
  <TitleSectionGrid color="dark:text-[#87a0b2]">
    {t("menu").about}
  </TitleSectionGrid>
  <ComponentBoundaries className="bg-[#87a0b2] p-8 h-full">
    <div class="md:columns-2 [column-gap:4rem] [column-rule:1px_solid_black]">
      {
        t("aboutMe").about.map((value) => {
          if (value.length > 0) {
            return <p class="text-black">{value}</p>;
          } else {
            return <br />;
          }
        })
      }
    </div>
  </ComponentBoundaries>
</section>

<style lang="scss">
  .summary--name {
    text-transform: uppercase;
    display: grid;
  }
</style>
