---
import { Icon } from 'astro-icon';
const talento = ['UI/UX', 'Front-end Developer', 'Sound Design', 'Audiovisual Production']
// import { Image, Picture } from '@astrojs/image/components';
const heroImg = '/images/hero.webp'
---
<section class="hero">
    <div class="hero--content">
        <div class="hero--name">
            <h1>Emilio</h1>
            <h1>Tapia</h1>
        </div>
        <hr>
        <ul>
        {
            talento.map(service => 
                <li>{service}</li>
            )
        }
        </ul>
        <div class="hero--icons">
            <a href="https://github.com/emilio-tapia" target="_blank" rel="noopener noreferrer">
                <Icon name="social-github"/>
            </a>
            <a href="https://www.linkedin.com/in/emilio-tapia-a24150172/" target="_blank" rel="noopener noreferrer">
                <Icon name="social-linkedin"/>
            </a>
        </div>
    </div>

    <div class="iframe-wrapper">
        <div class="dummy-padding"></div>
        <picture data-element="hero-img">
            <img src={heroImg} alt="hero" width="1080" height="1080">
        </picture>
      </div>



</section>


<style lang="scss">

    .hero{
        display: grid;
        gap: 2rem;
        padding-block: clamp(2rem, 10dvw, 4rem);
        grid-template-columns: repeat(auto-fit,minmax(300px,1fr));

        &--content{
            display: inherit;
            gap: 2rem;
        }
    }

    .hero > *:not(:last-child){
        margin-inline: var(--padding-inline-boundaries);
    }

    .hero--name{
        text-transform: uppercase;
        display: grid;
        gap: 2rem;

        h1{
            line-height: .75;
        }
    }

    .hero--icons{
        display: flex;
        gap: 1rem;
        
        svg{
            height: 44px;
            transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
            fill: currentColor;

            &:hover{
                transform: scale(1.05);
                fill: green;
            }
        }
    }


    .iframe-wrapper {
        width: max(65%, 15rem);
        position: relative;
        margin: 0 0 0 auto;
        border-radius: 1rem 0 0 1rem;
        overflow: hidden;

        box-shadow: 
        -1px 0px 1px 5px rgba(0,0,0,0.2),
        -2px 0px 1px 10px rgba(0,0,0,0.1),
        -3px 0px 1px 15px rgba(0,0,0,0.05),
        -4px 0px 1px 20px rgba(0,0,0,0.025);

        .dummy-padding {
            padding-top: 106.25%;
        }

        img {
            border: none;
            width: 100%;
            height: 100%;
            inset: 0;
            position: absolute;
            object-fit: cover;
            object-position: top;
        }
}

</style>