---
import { clsxm } from "@/utils/styles/tw";
type Props = {
  className?: string;
  height?: "full" | "auto";
  width?: "xl" | "2xl";
  padX?: 0 | 1 | 2;
};
const { className = "", height = "auto", width = "xl", padX = 0 } = Astro.props;
---

<div
  data-boundaries
  class={clsxm([
    "mx-auto",
    { "w-full_p1": padX === 1 },
    { "w-full_p2": padX === 2 },
    { "max-w-screen-xl": width === "xl" },
    { "max-w-screen-2xl": width === "2xl" },
    { "h-screen h-[100dvh]": height === "full" },
    { "h-auto": height === "auto" },
    // "xl:border-x border-black",
    className,
  ])}
>
  <slot />
</div>
